---
title: Posts
---

  <!-- {% for post in site.posts %}

      <h3 style="display: inline"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3> - <p style="display: inline">{{ post.date | date_to_string }}</p>
      
      {{ post.excerpt }}
    
  {% endfor %} -->
  <!-- post list -->
  {% if paginator.page == 1 %}
  <h2>Latest Posts</h2>
  {% else %}
  <h2>Earlier Posts</h2>
  {% endif %}

{% for post in paginator.posts %}
<div class="row">
  <div class="col-md-8">
  <h3 style="display: inline"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
  </div>
  <div class="col-md-4" style="text-align: right;">
   - <p style="display: inline" >{{ post.date | date_to_string }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  {{ post.excerpt }}
</div>
</div>
<br/>
{% endfor %}

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}