---
layout: home
---
<script>
  document.write('<a class="nav-link" href="' + document.referrer + '"><< Go Back</a>');
</script>
<h1 style="display: inline" >{{ page.title }}</h1>
<p style="display: inline">
  - {{ page.date | date_to_string }}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
</p>

{{ content }}

<script>
  document.write('<a class="nav-link" href="' + document.referrer + '"><< Go Back</a>');
</script>